/****Navbar****/

.nav-item {
    letter-spacing: .1em;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.dropdown-item {
    font-size: 18px;
    letter-spacing: .1em;
    text-transform: uppercase;
}


/* change the color of the nav bar items  */

.navbar-nav .nav-link {
    color: white;
}


/* change the color of the dropdown items */

.dropdown-menu .dropdown-item {
    color: rgb(0, 0, 0);
}


/* change style of the navbar itself */

nav {
    border-radius: 2em;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(149, 152, 156, 1) 100%);
}

nav:hover {
    box-shadow: 0 0 3px #e0e3e4, 0 0 5px #b300ff;
}


/* change color of background on the page */

#body-background {
    background: linear-gradient(184deg, rgba(250, 250, 250, 1) 0%, rgba(149, 152, 156, 1) 100%);
}


/****Category page****/

.my_row_class {
    padding-top: 15px;
}

.my_row_class .mx-auto p {
    color: #000;
    font-size: 14px;
}

.my_row_class .mx-auto p a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}


/****Category page****/

.cat_image {
    width: 100%;
    height: auto;
    border-radius: 2em;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.cat_image:hover {
    box-shadow: 0 0 3px #e0e3e4, 0 0 5px #b300ff;
}

.cat_title {
    letter-spacing: .1em;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.cat_image_padding {
    padding-top: 5px;
}

.banner_img {
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.header_img:hover {
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.my_bottom_margin {
    margin-bottom: 10px;
}

.card-body h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.card {
    width: 100%;
    height: auto;
    border-radius: 2em;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.card:hover {
    box-shadow: 0 0 3px #e0e3e4, 0 0 5px #b300ff;
}


/****Product Page****/

.my_prod_row_class {
    padding-top: 15px;
    padding-bottom: 20px;
}

.my_prod_row_class .mx-auto p {
    color: #000;
    font-size: 14px;
}

.my_prod_row_class .mx-auto p a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

.my_prod_row_class .mx-auto p a:hover {
    color: #b300ff;
}

.prod_img {
    border-radius: 2em;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.prod_img:hover {
    box-shadow: 0 0 3px #e0e3e4, 0 0 5px #b300ff;
}

.my_prod_title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.my_title {
    text-transform: uppercase;
}

.my_prod_text {
    padding-right: 20px;
}

.cart-button {
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.cart-button:hover {
    box-shadow: 0 0 3px #e0e3e4, 0 0 5px #b300ff;
}