{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%}
{% block metadescription %}
 {{ product.description|truncatewords:155 }}
{% endblock %}
{% block title %}
 {{ product.name }} - Happy Panda Pet Store
{% endblock %}
{% block content %}
 <div class = "row my_prod_row_class">
 <div class = "mx-auto">
 <p><a class = "a_hover_color" href="{% url 'shop:all_products' %}">Home</a> | <a class = "a_hover_color" href="{{product.category.get_url }}">{{product.category}}</a> | {{product.name}}</p>
 </div>
 <div class="container">
 <br>
 <div class="row">
 <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
 <div class="mid-width: 18rem;">
 <img class="prod_img" src="{{product.image.url}}" alt="{{product.name}}">
 </div>
 </div>
 <div class="col-12 col-sm-12 col-md-12 col-lg-6">
 <div class="left-pad">
 <h1 class="my_prod_title">{{product.name}}</h1>
 <p>€{{product.price}}</p>
 <p class="my_title">Product Description</p>
 <p class="text-justify my_prod_text">{{product.description}}</p>
 {% if product.stock == 0%}
 <p><b>Out of Stock</b></p>
 {% else %}
 <a class="cart-button btn btn-secondary" href="">Add to Cart</a>
 {% endif %}


{# ADD REVIEW  #}
 <h1>Leave a Review</h1>
 <a class = "a_hover_color" href="{% url 'shop:add_review' product.pk %}">Review</a>

 {# OTHER REVIEWS #}
 {% for review in product.reviews.all %}
 <p>
 <span class="font-weight-bold">{{ review.author }} &middot;</span>
 {{ review }}
 </p>
 {% endfor %}
 </div>
 </div>
 </div>
 </div>
 </div>
{% endblock %}